In [17]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [18]:
#Reading the parquet file
df1=pd.read_parquet(r'C:\Users\Square\Downloads\mlops_assignment\DATA\fhv_tripdata_2021-01.parquet', engine='pyarrow')
df2=pd.read_parquet(r'C:\Users\Square\Downloads\mlops_assignment\DATA\fhv_tripdata_2021-02.parquet', engine='pyarrow')

In [19]:
#Reading the nos of record in january2021
df1.shape

(1154112, 7)

In [20]:
#Datatypes of variable
df1.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                           object
Affiliated_base_number            object
dtype: object

In [21]:
#Finding Duration time
df1['Duration']=(df1['dropOff_datetime']-df1.pickup_datetime)/pd.Timedelta(minutes=1)

In [22]:
df1.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,Duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,15.216667

In [23]:
#Finding avg duration time in jan
df1.Duration.mean()

19.1672240937939

In [24]:
df1=df1[(df1.Duration>=1) & (df1.Duration<=60)]

In [25]:
#Finding  % of null values for pickup location 
df1.PUlocationID.isnull().sum()/df1.shape[0]

0.8352732770722617

In [26]:
#REplacing null values with -1
df1['PUlocationID']=df1.PUlocationID.fillna('-1')
df1['DOlocationID']=df1.DOlocationID.fillna('-1')

In [27]:
df2=df1[['PUlocationID','DOlocationID']]

In [28]:
df2=pd.get_dummies(df2)

In [29]:
df2.shape

(1109826, 525)

In [30]:
df2.head()

,PUlocationID_1.0,PUlocationID_2.0,PUlocationID_3.0,PUlocationID_4.0,PUlocationID_5.0,PUlocationID_6.0,PUlocationID_7.0,PUlocationID_8.0,PUlocationID_9.0,PUlocationID_10.0,...,DOlocationID_257.0,DOlocationID_258.0,DOlocationID_259.0,DOlocationID_260.0,DOlocationID_261.0,DOlocationID_262.0,DOlocationID_263.0,DOlocationID_264.0,DOlocationID_265.0,DOlocationID_-1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2.to_dict('records')

In [7]:
#joining both file
df=df1.append(df2)

In [8]:
#printing top five records
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

(1154112, 7)